<div class="col-lg-12 mx-auto top" style="font-family: 'Kanit', sans-serif;">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first my-3">
                <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
                <h4>เข้าสู่ระบบ</h4>
            </div>

            <!-- Login Form -->
            <form class="formregister" [formGroup]="form" (submit)="onSubmit()">
                <input type="text" id="username" class="fadeIn second" formControlName="username" placeholder="ชื่อผู้ใช้งาน">
                <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="รหัสผ่าน">
                <br><br><input type="submit" class="fadeIn fourth" value="เข้าสู่ระบบ">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="http://ta-lad-noi.com/Homestay-Users/register-homestay">สมัครสมาชิก</a>
            </div>

        </div>
    </div>
</div>