<app-header></app-header>

<div class="container mt-5" style="font-family: 'Kanit';">
    <div class="d-flex">
        <div class="d-flex align-items-center logo bg-purple">
            <div class="h2 text-white"> </div>
        </div>
        <div class="ms-3 d-flex flex-column">
            <div class="fs-6">จัดการข้อมูลส่วนตัว</div>
        </div>
    </div>

</div>

<div class="container mt-4" style="font-family: 'Kanit';">
    <div class="row">
        <div class="col-lg-3 my-lg-0 my-md-1">
            <app-profile-sidebar></app-profile-sidebar>
        </div>
        <div class="col-lg-9 my-lg-0 my-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>