<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- jQuery easing plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha512-ahmSZKApTDNd3gVuqL5TQ3MBTj8tL5p2tYV05Xxzcfu6/ecvt1A0j6tfudSGBVuteSoTRMqMljbfdU0g2eDNUA==" crossorigin="anonymous"></script>
<!-- Bootstrap CSS -->
<script src="assets/js/form.js"></script>

<div class="px-sm-2 px-lg-0">
    <form id="msform" style="font-family: 'Kanit', sans-serif;" [formGroup]="checkoutForm">
        <!-- progressbar -->
        <ul id="progressbar" style="text-align: center; margin-top:20px;">
            <li class="active">สินค้าในตะกร้า</li>
            <li>รายละเอียดการชำระเงิน</li>
            <li>สรุปใบสั่งซื้อ</li>
        </ul>
        <!-- fieldsets -->
        <fieldset>
            <div class="row mx-lg-0 px-3 mx-3">
                <div class="shopping-cart">
                    <!-- Title -->
                    <div class="title mt-10 mb-20 text-left col-12">
                        รายการสินค้าในตะกร้า
                    </div>

                    <div *ngIf="cartCheckout.length === 0" class="text-danger mb-20">
                        <span>ไม่มีสินค้าในตะกร้าสินค้า !</span> <br>
                        <a class="fs-title block" [routerLink]="['/']" routerLinkActive="router-link-active">คลิกที่นี่เพื่อเลือกซื้อสินค้า</a>

                    </div>

                    <div *ngFor="let item of cartCheckout; let i = index;">
                        <div class="item">
                            <img class="img-fluid rounded shadow-sm" src="http://ta-lad-noi.com/taladnoiapi/productImage/{{item.image}}" alt="" style="width: 100px; height: 100px; margin-bottom:5px;">
                            <div class="description float-left">
                                <span>{{item.pname}}</span>
                                <span>ประเภท : {{item.cname}}</span>
                                <span>สินค้าจากร้าน : {{item.shop_name}}</span>
                            </div>
                            <div class="quantity">
                                <button class="minus-btn text-black" type="button" name="button" (click)="minus(cartCheckout,i)">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <b class="text-danger mr-15 ml-15">{{item.qty}}</b>
                                <button class="plus-btn text-black" type="button" name="button" (click)="plus(cartCheckout,i)">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <span>สินค้าคงเหลือ {{item.stock}} ชิ้น </span>
                            </div>
                            <div class="total-price">{{item.total | currency:'THB'}}</div>
                            <div class="buttons">
                                <span class="delete-btn" (click)="removeCartItem(cartCheckout,i)"><i
                                        class="fa fa-trash"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6"></div>
                <div class="col-lg-6 mb-50 rounded-lg" style="background:white ;box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);">
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4 text-left">
                            <h5 class="mb-3" style="color: rgba(0, 0, 0, 0.562);">
                                ยอดชำระ</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    จำนวนสินค้า
                                    <span>{{cartCheckout.length}} รายการ</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                    การขนส่ง
                                    <span class="text-danger">ร้านค้าจะระบุยอดหลังจากการสั่งซื้อ</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>ยอดรวม</strong>
                                    </div>
                                    <span><strong>{{productTotal | currency:'THB'}}</strong></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card -->
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">
                            <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                ระบุโค้ดส่วนลด (ถ้ามี)
                                <span><i class="fas fa-chevron-down pt-1"></i></span>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="mt-3">
                                    <div class="md-form md-outline mb-0">
                                        <input type="text" id="discount-code" class="form-control font-weight-light" placeholder="Enter discount code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <input type="button" name="previous" class="previous btn back-btn float-left mb-20" value="Previous"> -->
            <input type="button" name="next" [disabled]="cartCheckout.length === 0" class="next btn next-btn float-right mb-20" value="ถัดไป" />

        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col-12">
                    <div class="payment">
                        <!-- Title -->
                        <div class="title mt-10 mb-20 text-left col-12">
                            <span>รหัสออเดอร์ # {{orderNo}}</span>
                        </div>
                        <div class="card-body no-border ml-15 mr-15 col-lg-12 col-sm-3">
                            <label for="primary">
                                <address>
                                    <!-- <button class="btn btn-primary" (click)="checkCart()">ทดสอบ</button> -->
                                    <span class="fs-title">ชื่อผู้ใช้งาน :
                                        {{checkoutForm.get('fullname').value}},</span>
                                    <span class="fs-subtitle">{{checkoutForm.get('phone').value}} </span><br>
                                    <p class="text-black-50">{{checkoutForm.get('email').value}} </p>
                                    <div class="mt-3 "><b>ที่อยู่ในการจัดส่ง</b><br>
                                        <span class="text-dark">{{ checkoutForm.get('address').value }}<br>
                                        </span>
                                    </div>
                                </address>
                                <!-- <div class="text-primary" onclick="myEditBox()">+ เพิ่มที่อยู่ใหม่</div> &nbsp;&nbsp;&nbsp; -->
                                <!-- <font class="text-primary">เลือกที่อยู่สำหรับจัดส่งใหม่</font> -->
                                <a [routerLink]="['/profile']" routerLinkActive="router-link-active"
                                    class="text-primary">+ แก้ไขที่อยู่ใหม่</a>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <input type="button" name="previous" class="previous btn back-btn float-left mb-20" value="ย้อนกลับ">
            <input type="button" name="next" class="next btn next-btn float-right mb-20" [disabled]="!UserLogin.userID" (click)="checkoutBtn()" value="สั่งซื้อ" />

        </fieldset>
        <fieldset class="text-left">
            <div class="container mt-5 mb-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="text-left logo p-2 px-5"> <img src="assets/img/logo/logo.png"> </div>
                            <div class="invoice p-5">
                                <h5 style="color: rgb(65, 65, 65);">การสั่งซื้อของคุณเรียบร้อยแล้ว !</h5> <span class="font-weight-bold d-block mt-4">สวัสดี, {{UserLogin.firstname}}</span>
                                <span>เราได้รับคำสั่งซื้อของคุณเรียบร้อยแล้ว ขอบคุณสำหรับการสั่งซื้อ !</span>
                                <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                                    <table class="table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="py-2"> <span class="d-block text-muted">Order
                                                            Date</span>{{currentDate | date:'yyyy-MM-dd'}} <span></span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2"> <span class="d-block text-muted">Order No</span>
                                                        <span>{{orderNo}}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="py-2"> <span class="d-block text-muted">Shiping
                                                            Address</span>
                                                        <span>{{checkoutForm.get('address').value}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="product border-bottom table-responsive">
                                    <table class="table table-borderless">
                                        <tbody *ngFor="let item of cartCheckout; let i = index;">
                                            <tr>
                                                <td width="20%"> <img src="http://ta-lad-noi.com/taladnoiapi/productImage/{{item.image}}" width="90"> </td>
                                                <td width="60%"> <span class="font-weight-bold">{{item.pname}}</span>
                                                    <div class="product-qty"> <span class="d-block">Quantity:
                                                            {{item.qty}}</span> </div>
                                                </td>
                                                <td width="20%">
                                                    <div class="text-right"> <span class="font-weight-bold">{{item.total
                                                            | currency:'THB'}}</span> </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- <div class="row d-flex justify-content-end">
                                    <div class="col-md-5">
                                        <table class="table table-borderless">
                                            <tbody class="totals">
                                                <tr>
                                                    <td>
                                                        <div class="text-left"> <span class="text-muted">ราคาสินค้ารวม</span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right"> <span>-</span> </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right"> <span>$22</span> </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right"> <span>$7.65</span> </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="text-left"> <span class="text-muted">ส่วนลด</span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right"> <span class="text-success">$168.50</span> </div>
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-bottom">
                                                    <td>
                                                        <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right"> <span class="font-weight-bold">{{item.total | currency:'THB'}}</span> </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div> -->
                                <p>We will be sending shipping confirmation email when the item shipped successfully!
                                </p>
                                <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>Taladnoi
                                    Market</span>
                            </div>
                            <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a
                                        href="#"> help center</a></span> <span>12 June, 2020</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <input type="button" name="previous" class="previous btn back-btn float-left mb-20" value="Previous"> -->
            <a [routerLink]="['/']" routerLinkActive="router-link-active" type="button" class="next btn next-btn float-right mb-20">กลับหน้าแรก</a>
        </fieldset>
    </form>
</div>