.swal2-title {
    position: relative;
    max-width: 100%;
    margin: 0 0 0.4em;
    padding: 0;
    color: #000000 !important;
    font-size: 1.25em !important;
    font-weight: 600;
    text-align: center;
    text-transform: none;
}

.swal2-content {
    z-index: 1;
    justify-content: center;
    margin: 0;
    padding: 0 1.6em;
    color: #e80000 !important;
    font-size: 1.125em;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    font-family: 'Kanit' !important;
}